In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv('Phones_Data.csv')

In [5]:
df

,StarReview,Brand,Version,Color,Cost,RealCost,Rating,Reviews,RAM (GB),ROM (GB),DisplaySize (cm)
0,4.2,SAMSUNG,NaN,Black,11499,20999,49567.0,2279.0,6.000,128.000,16.76
1,4.0,Nokia,105 Single SIM,NaN,1181,1399,24920.0,7538.0,0.032,0.032,4.50
2,NaN,I,NaN,NaN,1699,2199,NaN,NaN,0.032,0.032,6.10
3,4.4,Motorola,NaN,Brilliant Blue,12999,14999,56193.0,2540.0,8.000,128.000,16.51
4,4.5,Motorola,NaN,Olive Green,17999,20999,95052.0,4655.0,8.000,128.000,16.94
...,...,...,...,...,...,...,...,...,...,...,...
451,4.5,Motorola,NaN,Marshmallow Blue,22999,25999,76737.0,4786.0,8.000,128.000,17.02
452,4.1,POCO,C61,Diamond Dust Black,5799,8999,45049.0,1623.0,4.000,64.000,17.04
453,4.3,REDMI,13C,Starfrost White,7199,11999,69795.0,3014.0,4.000,128.000,17.12
454,4.2,REDMI,NaN,Starlight Black,13258,17999,7042.0,350.0,8.000,256.000,17.12
455,4.2,POCO,NaN,Galactic Black,7999,11999,96470.0,4609.0,4.000,64.000,17.12

In [7]:
df.isnull().sum()

StarReview            6
Brand                 0
Version             198
Color                25
Cost                  0
RealCost              0
Rating                6
Reviews               6
RAM (GB)             43
ROM (GB)              0
DisplaySize (cm)      0
dtype: int64

Our Dataframe consists missing values and those should be filled with particular values to visualize the data. 

For Numerical columns we can fill the nan values with mean, median or mode of that particular column. 
-> The Rating column is filled with the mean value of the rating column, it will first calculate the mean of the avaliable values then fill the none values with that mean value. 

-> The Reviews column is filled with the median value of the Reviews column, it will first calculate the median of the avaliable values then fill the none values with that median value. 

-> The RAM (GB) column is filled with the mode value of the RAM (GB) column, it will first calculate the mode of the avaliable values which is the most repeated value in the column and fill it with that mode value. 

For Categorical columns we can fill the missing values only with Mode value of that specific column. 
-> The Version column is filled with the mode value of the Version column, it will first calculate the mode of the avaliable values then fill the none values with that mode value. 

-> The Color column is filled with the mode value of the Color column, it will first calculate the mode of the avaliable values then fill the none values with that mode value.

In [9]:
df['Rating'].fillna(df['Rating'].mean(), inplace=True)  
df['Reviews'].fillna(df['Reviews'].median(), inplace=True)  
df['RAM (GB)'].fillna(df['RAM (GB)'].mode()[0], inplace=True)  

df['Version'].fillna(df['Version'].mode()[0], inplace=True)  
df['Color'].fillna(df['Color'].mode()[0], inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5088\184093000.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(), inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_5088\184093000.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Reviews'].fillna(df['Reviews'].median(), inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_5088\184093000.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RAM (GB)'].fillna(df['RAM (GB)'].mode()[0], inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_5088\184093000.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Version'].fillna(df['Version'].mode()[0], inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_5088\184093000.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Color'].fillna(df['Color'].mode()[0], inplace=True)

In [15]:
df['StarReview'].fillna(df['StarReview'].median(), inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_5088\3152156692.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['StarReview'].fillna(df['StarReview'].median(), inplace=True)

In [17]:
df

,StarReview,Brand,Version,Color,Cost,RealCost,Rating,Reviews,RAM (GB),ROM (GB),DisplaySize (cm)
0,4.2,SAMSUNG,T3 Pro,Black,11499,20999,49567.000000,2279.0,6.000,128.000,16.76
1,4.0,Nokia,105 Single SIM,Black,1181,1399,24920.000000,7538.0,0.032,0.032,4.50
2,4.3,I,T3 Pro,Black,1699,2199,44121.617778,1806.0,0.032,0.032,6.10
3,4.4,Motorola,T3 Pro,Brilliant Blue,12999,14999,56193.000000,2540.0,8.000,128.000,16.51
4,4.5,Motorola,T3 Pro,Olive Green,17999,20999,95052.000000,4655.0,8.000,128.000,16.94
...,...,...,...,...,...,...,...,...,...,...,...
451,4.5,Motorola,T3 Pro,Marshmallow Blue,22999,25999,76737.000000,4786.0,8.000,128.000,17.02
452,4.1,POCO,C61,Diamond Dust Black,5799,8999,45049.000000,1623.0,4.000,64.000,17.04
453,4.3,REDMI,13C,Starfrost White,7199,11999,69795.000000,3014.0,4.000,128.000,17.12
454,4.2,REDMI,T3 Pro,Starlight Black,13258,17999,7042.000000,350.0,8.000,256.000,17.12
455,4.2,POCO,T3 Pro,Galactic Black,7999,11999,96470.000000,4609.0,4.000,64.000,17.12

In [19]:
df.isnull().sum()

StarReview          0
Brand               0
Version             0
Color               0
Cost                0
RealCost            0
Rating              0
Reviews             0
RAM (GB)            0
ROM (GB)            0
DisplaySize (cm)    0
dtype: int64

In [21]:
df['Rating'] = df['Rating'].astype(int)

In [23]:
df

,StarReview,Brand,Version,Color,Cost,RealCost,Rating,Reviews,RAM (GB),ROM (GB),DisplaySize (cm)
0,4.2,SAMSUNG,T3 Pro,Black,11499,20999,49567,2279.0,6.000,128.000,16.76
1,4.0,Nokia,105 Single SIM,Black,1181,1399,24920,7538.0,0.032,0.032,4.50
2,4.3,I,T3 Pro,Black,1699,2199,44121,1806.0,0.032,0.032,6.10
3,4.4,Motorola,T3 Pro,Brilliant Blue,12999,14999,56193,2540.0,8.000,128.000,16.51
4,4.5,Motorola,T3 Pro,Olive Green,17999,20999,95052,4655.0,8.000,128.000,16.94
...,...,...,...,...,...,...,...,...,...,...,...
451,4.5,Motorola,T3 Pro,Marshmallow Blue,22999,25999,76737,4786.0,8.000,128.000,17.02
452,4.1,POCO,C61,Diamond Dust Black,5799,8999,45049,1623.0,4.000,64.000,17.04
453,4.3,REDMI,13C,Starfrost White,7199,11999,69795,3014.0,4.000,128.000,17.12
454,4.2,REDMI,T3 Pro,Starlight Black,13258,17999,7042,350.0,8.000,256.000,17.12
455,4.2,POCO,T3 Pro,Galactic Black,7999,11999,96470,4609.0,4.000,64.000,17.12

In [25]:
df.to_csv('mobile_info.csv', index=False)

In [27]:
df1 = pd.read_csv('mobile_info.csv')

In [29]:
df1.head()

,StarReview,Brand,Version,Color,Cost,RealCost,Rating,Reviews,RAM (GB),ROM (GB),DisplaySize (cm)
0,4.2,SAMSUNG,T3 Pro,Black,11499,20999,49567,2279.0,6.000,128.000,16.76
1,4.0,Nokia,105 Single SIM,Black,1181,1399,24920,7538.0,0.032,0.032,4.50
2,4.3,I,T3 Pro,Black,1699,2199,44121,1806.0,0.032,0.032,6.10
3,4.4,Motorola,T3 Pro,Brilliant Blue,12999,14999,56193,2540.0,8.000,128.000,16.51
4,4.5,Motorola,T3 Pro,Olive Green,17999,20999,95052,4655.0,8.000,128.000,16.94